/* screen - iphone-13-13-pro-6 */

.iphone-13-13-pro-6 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1460px;
  padding: 53.1px 29px;
  width: 428px;
}

.iphone-13-13-pro-6 .group-18102 {
  cursor: pointer;
  height: 76px;
  width: 78px;
}

.iphone-13-13-pro-6 .overlap-group5 {
  height: 100px;
  margin-left: 15px;
  margin-top: 26px;
  position: relative;
  width: 181px;
}

.iphone-13-13-pro-6 .dessert {
  left: 0;
  letter-spacing: 0;
  line-height: 50.5px;
  position: absolute;
  top: 49px;
  white-space: nowrap;
}

.iphone-13-13-pro-6 .text-267 {
  left: 0;
  letter-spacing: 0;
  line-height: 50.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.iphone-13-13-pro-6 .for-a-sweet-tooth {
  letter-spacing: 0;
  line-height: 22.8px;
  margin-left: 15px;
  margin-top: 2px;
  min-height: 24px;
  white-space: nowrap;
}

.iphone-13-13-pro-6 .group-18139 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 67px;
  min-height: 1052px;
  width: 340px;
}

.iphone-13-13-pro-6 .group-18124 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 18.21px;
  box-shadow: 5px 18.21px 36.43px #d3d1d8b2;
  display: flex;
  flex-direction: column;
  min-height: 248px;
  width: 340px;
}

.iphone-13-13-pro-6 .group-container {
  height: 174px;
  margin-left: -14.72px;
  margin-top: -9px;
  position: relative;
  width: 355px;
}

.iphone-13-13-pro-6 .mask-group {
  height: 165px;
  left: 15px;
  position: absolute;
  top: 9px;
  width: 340px;
}

.iphone-13-13-pro-6 .overlap-group {
  align-items: flex-start;
  background-image: url(../img/group-17482-41@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-6 .price {
  letter-spacing: 0;
  min-height: 22px;
  width: 59px;
}

.iphone-13-13-pro-6 .group-17950-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 7.58px;
  margin-top: 17px;
  min-height: 44px;
  width: 305px;
}

.iphone-13-13-pro-6 .text-268 {
  letter-spacing: 0;
  min-height: 28px;
  width: 301px;
}

.iphone-13-13-pro-6 .mango-sticky-rice {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-6 .group-1812 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 18.21px;
  box-shadow: 5px 18.21px 36.43px #d3d1d8b2;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 248px;
  width: 340px;
}

.iphone-13-13-pro-6 .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/group-17482-42@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-6 .group-17950 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 13.68px;
  margin-top: 17px;
  min-height: 44px;
  width: 273px;
}

.iphone-13-13-pro-6 .text-269 {
  letter-spacing: 0;
  min-height: 28px;
  width: 269px;
}

.iphone-13-13-pro-6 .orange-chocolate-mousse {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-6 .overlap-group-2 {
  align-items: flex-start;
  background-image: url(../img/group-17482-43@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-6 .text-27 {
  letter-spacing: 0;
  min-height: 28px;
  width: 221px;
}

.iphone-13-13-pro-6 .walnut-brownie {
  letter-spacing: 0;
  margin-top: 2px;
  min-height: 14px;
  width: 269px;
}

.iphone-13-13-pro-6 .overlap-group-3 {
  align-items: flex-start;
  background-image: url(../img/group-17482-44@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-6 .ice-cream-sorbet {
  letter-spacing: 0;
  margin-top: 2px;
  min-height: 14px;
  width: 269px;
}
