/* screen - iphone-13-13-pro-9 */

.iphone-13-13-pro-9 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2571px;
  padding: 53.1px 29px;
  width: 428px;
}

.iphone-13-13-pro-9 .group-18102 {
  cursor: pointer;
  height: 76px;
  width: 78px;
}

.iphone-13-13-pro-9 .group-18198 {
  align-items: flex-start;
  display: flex;
  margin-left: 15px;
  margin-top: 26px;
  min-width: 151px;
}

.iphone-13-13-pro-9 .overlap-group {
  height: 101px;
  position: relative;
  width: 147px;
}

.iphone-13-13-pro-9 .place {
  left: 0;
  letter-spacing: 0;
  line-height: 50.5px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.iphone-13-13-pro-9 .text-285 {
  left: 0;
  letter-spacing: 0;
  line-height: 50.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.iphone-13-13-pro-9 .group-container {
  align-items: flex-start;
  display: flex;
  height: 66px;
  margin-left: 15px;
  margin-top: 88px;
  min-width: 262px;
}

.iphone-13-13-pro-9 .group-18158 {
  align-items: flex-end;
  background-color: var(--outrageous-orange);
  border-radius: 18.21px;
  box-shadow: 18.21px 18.21px 36.43px #d3d1d840;
  display: flex;
  flex-direction: column;
  min-height: 66px;
  padding: 9px 12px;
  width: 121px;
}

.iphone-13-13-pro-9 .text-2 {
  letter-spacing: 0;
  min-height: 28px;
  text-align: center;
  width: 96px;
}

.iphone-13-13-pro-9 .place-1 {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  text-align: center;
  width: 96px;
}

.iphone-13-13-pro-9 .group-181 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 18.21px;
  box-shadow: 18.21px 18.21px 36.43px #d3d1d840;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 66px;
  padding: 7px 11px;
  width: 121px;
}

.iphone-13-13-pro-9 .place-2 {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  text-align: center;
  width: 96px;
}

.iphone-13-13-pro-9 .group-container-1 {
  align-items: flex-start;
  display: flex;
  height: 66px;
  margin-left: 15px;
  margin-top: 20px;
  min-width: 262px;
}

.iphone-13-13-pro-9 .group-18160 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 18.21px;
  box-shadow: 18.21px 18.21px 36.43px #d3d1d840;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: 66px;
  padding: 7px 11px;
  width: 121px;
}

.iphone-13-13-pro-9 .cocktails {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  text-align: center;
  width: 96px;
}

.iphone-13-13-pro-9 .soft-drinks {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  text-align: center;
  width: 96px;
}

.iphone-13-13-pro-9 .group-18193 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 18.21px;
  box-shadow: 18.21px 18.21px 36.43px #d3d1d840;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 20px;
  min-height: 66px;
  padding: 7px 11px;
  width: 121px;
}

.iphone-13-13-pro-9 .coffee-tea {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  text-align: center;
  width: 96px;
}

.iphone-13-13-pro-9 .text-291 {
  letter-spacing: 0;
  margin-left: 15px;
  margin-top: 33px;
  min-height: 45px;
  width: 150px;
}

.iphone-13-13-pro-9 .red-wine {
  letter-spacing: 0;
  margin-left: 15px;
  margin-top: 1px;
  min-height: 19px;
  width: 150px;
}

.iphone-13-13-pro-9 .group-18175 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 3.0px;
  margin-top: 44px;
  min-height: 591px;
  width: 337px;
}

.iphone-13-13-pro-9 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 146px;
  width: 313px;
}

.iphone-13-13-pro-9 .g-bertrand-6-eme-sen {
  letter-spacing: 0;
  min-height: 32px;
  width: 313px;
}

.iphone-13-13-pro-9 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 42px;
  margin-left: 1px;
  margin-top: 20px;
  min-width: 265px;
}

.iphone-13-13-pro-9 .frame {
  height: 37px;
  width: 21px;
}

.iphone-13-13-pro-9 .glass {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 10px;
  min-height: 38px;
  min-width: 82px;
}

.iphone-13-13-pro-9 .frame-1 {
  height: 37px;
  margin-left: 50px;
  width: 19px;
}

.iphone-13-13-pro-9 .bottle {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 10px;
  min-height: 38px;
  min-width: 73px;
}

.iphone-13-13-pro-9 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  min-height: 34px;
  width: 313px;
}

.iphone-13-13-pro-9 .line {
  height: 2px;
  margin-left: 1px;
  width: 312px;
}

.iphone-13-13-pro-9 .ginestet-bordeaux-france {
  letter-spacing: 0;
  margin-top: 20px;
  min-height: 12px;
  width: 313px;
}

.iphone-13-13-pro-9 .glass-4 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 10px;
  min-height: 38px;
  min-width: 60px;
}

.iphone-13-13-pro-9 .frame-2 {
  height: 37px;
  margin-left: 72px;
  width: 19px;
}

.iphone-13-13-pro-9 .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  min-height: 365px;
  width: 313px;
}

.iphone-13-13-pro-9 .maison-forgeot-pinot-noir-france {
  letter-spacing: 0;
  margin-top: 20px;
  min-height: 12px;
  width: 313px;
}

.iphone-13-13-pro-9 .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 42px;
  margin-left: 4px;
  margin-top: 20px;
  min-width: 101px;
}

.iphone-13-13-pro-9 .frame-3 {
  height: 37px;
  width: 19px;
}

.iphone-13-13-pro-9 .bottle-2 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 9px;
  min-height: 38px;
  min-width: 73px;
}

.iphone-13-13-pro-9 .line-1 {
  height: 2px;
  margin-left: 1px;
  margin-top: 18px;
  width: 312px;
}

.iphone-13-13-pro-9 .kaiken-estate-malbec-argentina {
  letter-spacing: 0;
  margin-top: 20px;
  min-height: 13px;
  width: 313px;
}

.iphone-13-13-pro-9 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 42px;
  margin-left: 3px;
  margin-top: 20px;
  min-width: 102px;
}

.iphone-13-13-pro-9 .chateau-haute-mangau {
  letter-spacing: 0;
  margin-top: 20px;
  min-height: 32px;
  width: 313px;
}

.iphone-13-13-pro-9 .group-18166 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 50px;
  min-height: 62px;
  width: 169px;
}

.iphone-13-13-pro-9 .text-29 {
  letter-spacing: 0;
  min-height: 48px;
  width: 150px;
}

.iphone-13-13-pro-9 .surname {
  letter-spacing: 0;
  min-height: 14px;
  width: 165px;
}

.iphone-13-13-pro-9 .group-18176 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 7.0px;
  margin-top: 45px;
  min-height: 477px;
  width: 333px;
}

.iphone-13-13-pro-9 .sanama-reserva-sauvignon-blanc-chile {
  letter-spacing: 0;
  min-height: 32px;
  width: 313px;
}

.iphone-13-13-pro-9 .e-got-chardonnaytrebbiano-italy {
  letter-spacing: 0;
  margin-top: 20px;
  min-height: 12px;
  width: 313px;
}

.iphone-13-13-pro-9 .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  min-height: 251px;
  width: 313px;
}

.iphone-13-13-pro-9 .maison-ventenac-mari {
  letter-spacing: 0;
  margin-top: 20px;
  min-height: 31px;
  width: 313px;
}

.iphone-13-13-pro-9 .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 42px;
  margin-left: 4px;
  margin-top: 21px;
  min-width: 101px;
}

.iphone-13-13-pro-9 .twin-islands-sauvignon-blanc-nz {
  letter-spacing: 0;
  margin-top: 20px;
  min-height: 13px;
  width: 313px;
}

.iphone-13-13-pro-9 .group-1817 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 50px;
  min-height: 62px;
  width: 226px;
}

.iphone-13-13-pro-9 .sparkling-wine {
  letter-spacing: 0;
  min-height: 14px;
  width: 222px;
}

.iphone-13-13-pro-9 .group-18177 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 21.0px;
  margin-top: 45px;
  min-height: 114px;
  width: 319px;
}

.iphone-13-13-pro-9 .angas-premium-brut {
  letter-spacing: 0;
  min-height: 32px;
  width: 313px;
}

.iphone-13-13-pro-9 .text-294 {
  letter-spacing: 0;
  min-height: 48px;
  width: 200px;
}

.iphone-13-13-pro-9 .name {
  letter-spacing: 0;
  min-height: 14px;
  width: 222px;
}

.iphone-13-13-pro-9 .group-18178 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 21.0px;
  margin-top: 45px;
  min-height: 134px;
  width: 319px;
}

.iphone-13-13-pro-9 .colombelle-lorigin {
  letter-spacing: 0;
  min-height: 52px;
  width: 313px;
}

.iphone-13-13-pro-9 .flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 42px;
  margin-top: 20px;
  min-width: 265px;
}

.iphone-13-13-pro-9 .line-73 {
  height: 2px;
  margin-top: 18px;
  width: 312px;
}
