/* screen - iphone-13-13-pro-10 */

.iphone-13-13-pro-10 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2861px;
  padding: 53.1px 29px;
  width: 428px;
}

.iphone-13-13-pro-10 .group-18102 {
  cursor: pointer;
  height: 76px;
  width: 78px;
}

.iphone-13-13-pro-10 .overlap-group15 {
  height: 101px;
  margin-left: 15px;
  margin-top: 25px;
  position: relative;
  width: 252px;
}

.iphone-13-13-pro-10 .soft-drinks {
  left: 0;
  letter-spacing: 0;
  line-height: 50.5px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.iphone-13-13-pro-10 .text-170 {
  left: 0;
  letter-spacing: 0;
  line-height: 50.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.iphone-13-13-pro-10 .group-container {
  align-items: flex-start;
  display: flex;
  height: 66px;
  margin-left: 15px;
  margin-top: 89px;
  min-width: 262px;
}

.iphone-13-13-pro-10 .group-181 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 18.21px;
  box-shadow: 18.21px 18.21px 36.43px #d3d1d840;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: 66px;
  padding: 7px 11px;
  width: 121px;
}

.iphone-13-13-pro-10 .text-17 {
  letter-spacing: 0;
  min-height: 28px;
  text-align: center;
  width: 96px;
}

.iphone-13-13-pro-10 .place {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  text-align: center;
  width: 96px;
}

.iphone-13-13-pro-10 .group-18159 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 18.21px;
  box-shadow: 18.21px 18.21px 36.43px #d3d1d840;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 66px;
  padding: 7px 11px;
  width: 121px;
}

.iphone-13-13-pro-10 .place-1 {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  text-align: center;
  width: 96px;
}

.iphone-13-13-pro-10 .group-container-1 {
  align-items: flex-start;
  display: flex;
  height: 66px;
  margin-left: 15px;
  margin-top: 20px;
  min-width: 262px;
}

.iphone-13-13-pro-10 .cocktails {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  text-align: center;
  width: 96px;
}

.iphone-13-13-pro-10 .group-18161 {
  align-items: flex-end;
  background-color: var(--outrageous-orange);
  border-radius: 18.21px;
  box-shadow: 18.21px 18.21px 36.43px #d3d1d840;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 66px;
  padding: 9px 12px;
  width: 121px;
}

.iphone-13-13-pro-10 .soft-drinks-1 {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  text-align: center;
  width: 96px;
}

.iphone-13-13-pro-10 .group-18193 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 18.21px;
  box-shadow: 18.21px 18.21px 36.43px #d3d1d840;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 20px;
  min-height: 66px;
  padding: 7px 11px;
  width: 121px;
}

.iphone-13-13-pro-10 .coffee-tea {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  text-align: center;
  width: 96px;
}

.iphone-13-13-pro-10 .group-18202 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  min-height: 317px;
  width: 340px;
}

.iphone-13-13-pro-10 .group-18195 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 68px;
  width: 162px;
}

.iphone-13-13-pro-10 .text-205 {
  letter-spacing: 0;
  min-height: 48px;
  width: 158px;
}

.iphone-13-13-pro-10 .kombucha {
  letter-spacing: 0;
  min-height: 20px;
  width: 158px;
}

.iphone-13-13-pro-10 .group-18194 {
  align-items: flex-start;
  background-color: var(--outrageous-orange);
  border-radius: 18.21px;
  box-shadow: 5px 18.21px 36.43px #d3d1d8;
  display: flex;
  flex-direction: column;
  margin-top: 39px;
  min-height: 210px;
  padding: 2.7px 1.1px;
  width: 340px;
}

.iphone-13-13-pro-10 .group-container-2 {
  align-self: flex-end;
  height: 125px;
  position: relative;
  width: 318px;
}

.iphone-13-13-pro-10 .overlap-group {
  align-items: flex-start;
  background-image: url(../img/rectangle-106-11@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 185px;
  min-width: 133px;
  padding: 30.3px 38.9px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-10 .price {
  letter-spacing: 0;
  min-height: 27px;
  text-align: center;
  width: 52px;
}

.iphone-13-13-pro-10 .group-18130 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 48px;
  position: absolute;
  top: 17px;
  width: 225px;
}

.iphone-13-13-pro-10 .text {
  letter-spacing: 0;
  min-height: 28px;
  width: 221px;
}

.iphone-13-13-pro-10 .name {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18191 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 48px;
  position: absolute;
  top: 77px;
  width: 225px;
}

.iphone-13-13-pro-10 .passion-mango {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18192 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19.98px;
  margin-top: 12px;
  min-height: 48px;
  width: 225px;
}

.iphone-13-13-pro-10 .lime-mint {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18200 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  min-height: 991px;
  width: 340px;
}

.iphone-13-13-pro-10 .group-18165 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 67px;
  width: 256px;
}

.iphone-13-13-pro-10 .text-176 {
  letter-spacing: 0;
  min-height: 48px;
  width: 197px;
}

.iphone-13-13-pro-10 .home-made-sodas {
  letter-spacing: 0;
  min-height: 19px;
  width: 252px;
}

.iphone-13-13-pro-10 .group-18192-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 38px;
  min-height: 886px;
  width: 342px;
}

.iphone-13-13-pro-10 .overlap-group13 {
  height: 274px;
  position: relative;
  width: 340px;
}

.iphone-13-13-pro-10 .rectangle-4137 {
  background-color: var(--outrageous-orange);
  border-radius: 18.21px;
  box-shadow: 5px 18.21px 36.43px #d3d1d8;
  height: 260px;
  left: 0;
  position: absolute;
  top: 0;
  width: 340px;
}

.iphone-13-13-pro-10 .overlap-group7 {
  align-items: flex-start;
  background-image: url(../img/rectangle-106-7@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 206px;
  min-width: 133px;
  padding: 30.3px 38.9px;
  position: absolute;
  top: 183px;
}

.iphone-13-13-pro-10 .overlap-group8 {
  align-items: flex-start;
  background-image: url(../img/rectangle-106-8@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 206px;
  min-width: 133px;
  padding: 30.3px 38.9px;
  position: absolute;
  top: 123px;
}

.iphone-13-13-pro-10 .overlap-group9 {
  align-items: flex-start;
  background-image: url(../img/rectangle-106-9@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 206px;
  min-width: 133px;
  padding: 30.3px 38.9px;
  position: absolute;
  top: 64px;
}

.iphone-13-13-pro-10 .overlap-group10 {
  align-items: flex-start;
  background-image: url(../img/rectangle-106-10@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 206px;
  min-width: 133px;
  padding: 30.3px 38.9px;
  position: absolute;
  top: 3px;
}

.iphone-13-13-pro-10 .text-177 {
  left: 21px;
  letter-spacing: 0;
  position: absolute;
  top: 203px;
  width: 21px;
}

.iphone-13-13-pro-10 .group-18130-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 21px;
  min-height: 48px;
  position: absolute;
  top: 20px;
  width: 225px;
}

.iphone-13-13-pro-10 .watermelon-mint {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18131 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 21px;
  min-height: 48px;
  position: absolute;
  top: 80px;
  width: 225px;
}

.iphone-13-13-pro-10 .pineapple-ginger-mint {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18132 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 21px;
  min-height: 48px;
  position: absolute;
  top: 140px;
  width: 225px;
}

.iphone-13-13-pro-10 .jackfruit-honey {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18178 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 54px;
  min-height: 48px;
  position: absolute;
  top: 200px;
  width: 88px;
}

.iphone-13-13-pro-10 .text-182 {
  letter-spacing: 0;
  min-height: 28px;
  width: 84px;
}

.iphone-13-13-pro-10 .add-alcohol {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 84px;
}

.iphone-13-13-pro-10 .group-container-3 {
  background-color: var(--outrageous-orange);
  border-radius: 18.21px;
  box-shadow: 5px 18.21px 36.43px #d3d1d8;
  height: 582px;
  margin-top: 30px;
  position: relative;
  width: 340px;
}

.iphone-13-13-pro-10 .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/rectangle-106@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 206px;
  min-width: 133px;
  padding: 30.3px 38.9px;
  position: absolute;
  top: 366px;
}

.iphone-13-13-pro-10 .overlap-group1 {
  align-items: flex-start;
  background-image: url(../img/rectangle-106-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 206px;
  min-width: 133px;
  padding: 30.3px 38.9px;
  position: absolute;
  top: 310px;
}

.iphone-13-13-pro-10 .overlap-group2 {
  align-items: flex-start;
  background-image: url(../img/rectangle-106-2@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 206px;
  min-width: 133px;
  padding: 30.3px 38.9px;
  position: absolute;
  top: 249px;
}

.iphone-13-13-pro-10 .overlap-group3 {
  align-items: flex-start;
  background-image: url(../img/rectangle-106-3@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 206px;
  min-width: 133px;
  padding: 30.3px 38.9px;
  position: absolute;
  top: 190px;
}

.iphone-13-13-pro-10 .overlap-group4 {
  align-items: flex-start;
  background-image: url(../img/rectangle-106-4@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 206px;
  min-width: 133px;
  padding: 30.3px 38.9px;
  position: absolute;
  top: 129px;
}

.iphone-13-13-pro-10 .overlap-group5 {
  align-items: flex-start;
  background-image: url(../img/rectangle-106-5@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 206px;
  min-width: 133px;
  padding: 30.3px 38.9px;
  position: absolute;
  top: 69px;
}

.iphone-13-13-pro-10 .overlap-group6 {
  align-items: flex-start;
  background-image: url(../img/rectangle-106-6@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 206px;
  min-width: 133px;
  padding: 30.3px 38.9px;
  position: absolute;
  top: 9px;
}

.iphone-13-13-pro-10 .overlap-group11 {
  align-items: flex-start;
  background-image: url(../img/rectangle-105@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 206px;
  min-width: 133px;
  padding: 30.3px 38.9px;
  position: absolute;
  top: 426px;
}

.iphone-13-13-pro-10 .overlap-group12 {
  align-items: flex-start;
  background-image: url(../img/rectangle-104@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 206px;
  min-width: 133px;
  padding: 30.3px 38.9px;
  position: absolute;
  top: 489px;
}

.iphone-13-13-pro-10 .group-18133 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 21px;
  min-height: 48px;
  position: absolute;
  top: 26px;
  width: 225px;
}

.iphone-13-13-pro-10 .lime-soda {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18171 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 21px;
  min-height: 48px;
  position: absolute;
  top: 86px;
  width: 225px;
}

.iphone-13-13-pro-10 .lemon-lime-and-bitters {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18172 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 21px;
  min-height: 48px;
  position: absolute;
  top: 146px;
  width: 225px;
}

.iphone-13-13-pro-10 .passion-soda {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18173 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 21px;
  min-height: 48px;
  position: absolute;
  top: 206px;
  width: 225px;
}

.iphone-13-13-pro-10 .name-1 {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18174 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 21px;
  min-height: 48px;
  position: absolute;
  top: 266px;
  width: 225px;
}

.iphone-13-13-pro-10 .hibiscus-lime-soda {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18175 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 21px;
  min-height: 48px;
  position: absolute;
  top: 326px;
  width: 225px;
}

.iphone-13-13-pro-10 .coke-coke-light {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18177 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 21px;
  min-height: 48px;
  position: absolute;
  top: 446px;
  width: 225px;
}

.iphone-13-13-pro-10 .soda {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18176 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 21px;
  min-height: 48px;
  position: absolute;
  top: 386px;
  width: 225px;
}

.iphone-13-13-pro-10 .sprite {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18180 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 21px;
  min-height: 48px;
  position: absolute;
  top: 506px;
  width: 225px;
}

.iphone-13-13-pro-10 .tonic {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18201 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 69px;
  min-height: 751px;
  width: 340px;
}

.iphone-13-13-pro-10 .group-18182 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 62px;
  width: 162px;
}

.iphone-13-13-pro-10 .text-191 {
  color: var(--fern);
  font-family: var(--font-family-noto_sans_sc-bold);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  min-height: 48px;
  width: 158px;
}

.iphone-13-13-pro-10 .juices {
  letter-spacing: 0;
  min-height: 14px;
  width: 158px;
}

.iphone-13-13-pro-10 .group-18183 {
  align-items: flex-end;
  background-color: var(--aqua-forest);
  border-radius: 18.21px;
  box-shadow: 5px 18.21px 36.43px #d3d1d8;
  display: flex;
  height: 156px;
  justify-content: flex-end;
  margin-top: 43px;
  min-width: 340px;
  padding: 1.5px 0;
}

.iphone-13-13-pro-10 .overlap-group-2 {
  height: 151px;
  position: relative;
  width: 320px;
}

.iphone-13-13-pro-10 .group-17547 {
  height: 151px;
  left: 187px;
  position: absolute;
  top: 0;
  width: 133px;
}

.iphone-13-13-pro-10 .price-1 {
  left: 228px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 29px;
  width: 49px;
}

.iphone-13-13-pro-10 .price-2 {
  left: 228px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 89px;
  width: 49px;
}

.iphone-13-13-pro-10 .group-18130-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 48px;
  position: absolute;
  top: 16px;
  width: 225px;
}

.iphone-13-13-pro-10 .fresh-orange-juice {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18131-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 48px;
  position: absolute;
  top: 76px;
  width: 225px;
}

.iphone-13-13-pro-10 .lime-juice {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-18191-1 {
  align-items: flex-start;
  background-color: var(--aqua-forest);
  border-radius: 18.21px;
  box-shadow: 5px 18.21px 36.43px #d3d1d8;
  display: flex;
  height: 447px;
  justify-content: flex-end;
  margin-top: 43px;
  min-width: 340px;
  padding: 19.7px 0;
}

.iphone-13-13-pro-10 .group-container-4 {
  height: 371px;
  position: relative;
  width: 304px;
}

.iphone-13-13-pro-10 .overlap-group-3 {
  align-items: flex-start;
  background-image: url(../img/group-17482@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  left: 172px;
  min-width: 133px;
  padding: 29.3px 50.5px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-10 .price-3 {
  letter-spacing: 0;
  min-height: 17px;
  width: 32px;
}

.iphone-13-13-pro-10 .group-17950 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 354px;
  position: absolute;
  top: 17px;
  width: 290px;
}

.iphone-13-13-pro-10 .group-18134 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3.16px;
  min-height: 44px;
  width: 225px;
}

.iphone-13-13-pro-10 .build-your-own-juice {
  letter-spacing: 0;
  margin-top: 2px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 288px;
  margin-top: 22px;
  min-width: 284px;
}

.iphone-13-13-pro-10 .text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  min-height: 278px;
  width: 21px;
}

.iphone-13-13-pro-10 .text-200 {
  letter-spacing: 0;
  min-height: 38px;
  width: 21px;
}

.iphone-13-13-pro-10 .text-20 {
  letter-spacing: 0;
  margin-top: 22px;
  min-height: 38px;
  width: 21px;
}

.iphone-13-13-pro-10 .group-container-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 288px;
  width: 225px;
}

.iphone-13-13-pro-10 .group-18130-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 48px;
  width: 225px;
}

.iphone-13-13-pro-10 .place-2 {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .group-1813 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  min-height: 48px;
  width: 225px;
}

.iphone-13-13-pro-10 .water-melon {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .passion-fruit {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .color {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}

.iphone-13-13-pro-10 .mango {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 14px;
  width: 221px;
}
