/* screen - iphone-13-13-pro-4 */

.iphone-13-13-pro-4 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2040px;
  padding: 53.1px 29px;
  width: 428px;
}

.iphone-13-13-pro-4 .group-18102 {
  cursor: pointer;
  height: 76px;
  width: 78px;
}

.iphone-13-13-pro-4 .overlap-group7 {
  height: 100px;
  margin-left: 15px;
  margin-top: 26px;
  position: relative;
  width: 263px;
}

.iphone-13-13-pro-4 .going-west {
  left: 0;
  letter-spacing: 0;
  line-height: 50.5px;
  position: absolute;
  top: 49px;
  white-space: nowrap;
}

.iphone-13-13-pro-4 .text-238 {
  left: 0;
  letter-spacing: 0;
  line-height: 50.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.iphone-13-13-pro-4 .and-far-beyond {
  letter-spacing: 0;
  line-height: 22.8px;
  margin-left: 15px;
  margin-top: 2px;
  min-height: 24px;
  white-space: nowrap;
}

.iphone-13-13-pro-4 .group-18137 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 67px;
  min-height: 1588px;
  width: 340px;
}

.iphone-13-13-pro-4 .group-18114 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 18.21px;
  box-shadow: 5px 18.21px 36.43px #d3d1d8b2;
  display: flex;
  flex-direction: column;
  min-height: 248px;
  width: 340px;
}

.iphone-13-13-pro-4 .group-container {
  height: 174px;
  margin-left: -14.72px;
  margin-top: -9px;
  position: relative;
  width: 355px;
}

.iphone-13-13-pro-4 .mask-group {
  height: 165px;
  left: 15px;
  position: absolute;
  top: 9px;
  width: 340px;
}

.iphone-13-13-pro-4 .overlap-group {
  align-items: flex-start;
  background-image: url(../img/group-17482-25@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-4 .price {
  letter-spacing: 0;
  min-height: 22px;
  width: 59px;
}

.iphone-13-13-pro-4 .group-17950-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 7.58px;
  margin-top: 17px;
  min-height: 44px;
  width: 305px;
}

.iphone-13-13-pro-4 .text-239 {
  letter-spacing: 0;
  min-height: 28px;
  width: 301px;
}

.iphone-13-13-pro-4 .pasta-pastis-pork-bellystewed-beef {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-4 .group-181 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 18.21px;
  box-shadow: 5px 18.21px 36.43px #d3d1d8b2;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 248px;
  width: 340px;
}

.iphone-13-13-pro-4 .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/group-17482-26@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-4 .group-17950 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 13.68px;
  margin-top: 17px;
  min-height: 44px;
  width: 273px;
}

.iphone-13-13-pro-4 .text-240 {
  letter-spacing: 0;
  min-height: 28px;
  width: 269px;
}

.iphone-13-13-pro-4 .fish-and-chips-with-tartar-sauce {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-4 .overlap-group-2 {
  align-items: flex-start;
  background-image: url(../img/group-17482-27@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-4 .text-241 {
  letter-spacing: 0;
  min-height: 28px;
  width: 221px;
}

.iphone-13-13-pro-4 .crispy-chicken-breast {
  letter-spacing: 0;
  margin-top: 2px;
  min-height: 14px;
  width: 269px;
}

.iphone-13-13-pro-4 .overlap-group-3 {
  align-items: flex-start;
  background-image: url(../img/group-17482-29@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-4 .group-17950-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 18.11px;
  margin-top: 17px;
  min-height: 44px;
  width: 295px;
}

.iphone-13-13-pro-4 .text-24 {
  letter-spacing: 0;
  min-height: 28px;
  width: 291px;
}

.iphone-13-13-pro-4 .x-burger {
  letter-spacing: 0;
  margin-top: 2px;
  min-height: 14px;
  width: 291px;
}

.iphone-13-13-pro-4 .overlap-group-4 {
  align-items: flex-start;
  background-image: url(../img/group-17482-28@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-4 .overlap-group-5 {
  align-items: flex-start;
  background-image: url(../img/group-17482-30@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-4 .spicy-chicken-burger {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}
