/* screen - iphone-13-13-pro-2 */

.iphone-13-13-pro-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3899px;
  padding: 53.1px 29px;
  width: 428px;
}

.iphone-13-13-pro-2 .group-18102 {
  cursor: pointer;
  height: 76px;
  width: 78px;
}

.iphone-13-13-pro-2 .overlap-group14 {
  height: 100px;
  margin-left: 13px;
  margin-top: 26px;
  position: relative;
  width: 202px;
}

.iphone-13-13-pro-2 .starters {
  left: 0;
  letter-spacing: 0;
  line-height: 50.5px;
  position: absolute;
  top: 49px;
  white-space: nowrap;
  width: 202px;
}

.iphone-13-13-pro-2 .text-209 {
  left: 0;
  letter-spacing: 0;
  line-height: 50.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 147px;
}

.iphone-13-13-pro-2 .something-small {
  letter-spacing: 0;
  line-height: 22.8px;
  margin-left: 13px;
  margin-top: 2px;
  min-height: 24px;
  white-space: nowrap;
}

.iphone-13-13-pro-2 .group-18135 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 67px;
  min-height: 3464px;
  width: 340px;
}

.iphone-13-13-pro-2 .group-17953 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 18.21px;
  box-shadow: 5px 18.21px 36.43px #d3d1d8b2;
  display: flex;
  flex-direction: column;
  min-height: 248px;
  width: 340px;
}

.iphone-13-13-pro-2 .group-container {
  height: 174px;
  margin-left: -14.72px;
  margin-top: -9px;
  position: relative;
  width: 355px;
}

.iphone-13-13-pro-2 .mask-group {
  height: 165px;
  left: 15px;
  position: absolute;
  top: 9px;
  width: 340px;
}

.iphone-13-13-pro-2 .overlap-group {
  align-items: flex-start;
  background-image: url(../img/group-17482-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-2 .price {
  letter-spacing: 0;
  min-height: 22px;
  width: 59px;
}

.iphone-13-13-pro-2 .group-17950 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 13.68px;
  margin-top: 17px;
  min-height: 44px;
  width: 226px;
}

.iphone-13-13-pro-2 .text-2 {
  letter-spacing: 0;
  min-height: 28px;
  width: 221px;
}

.iphone-13-13-pro-2 .surname {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-2 .group-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 18.21px;
  box-shadow: 5px 18.21px 36.43px #d3d1d8b2;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 248px;
  width: 340px;
}

.iphone-13-13-pro-2 .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/group-17482-2@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-2 .deep-fried-spring-rolls-veg-meat {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-2 .overlap-group-2 {
  align-items: flex-start;
  background-image: url(../img/group-17482-3@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-2 .super-fresh-vegies {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-2 .overlap-group-3 {
  align-items: flex-start;
  background-image: url(../img/group-17482-4@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-2 .kumbhaka-egg {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-2 .overlap-group-4 {
  align-items: flex-start;
  background-image: url(../img/group-17482-5@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-2 .chicken-nuggets {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-2 .overlap-group-5 {
  align-items: flex-start;
  background-image: url(../img/group-17482-6@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-2 .sesame-beef-jerky {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-2 .overlap-group-6 {
  align-items: flex-start;
  background-image: url(../img/group-17482-7@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-2 .homemade-roasted-cashew-nuts {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-2 .overlap-group-7 {
  align-items: flex-start;
  background-image: url(../img/group-17482-8@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-2 .surname-1 {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-2 .overlap-group-8 {
  align-items: flex-start;
  background-image: url(../img/group-17482-9@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-2 .warm-olives {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-2 .overlap-group-9 {
  align-items: flex-start;
  background-image: url(../img/group-17482-10@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-2 .lemongrass-beef-sticks {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-2 .overlap-group-10 {
  align-items: flex-start;
  background-image: url(../img/group-17482-11@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-2 .eggplant-toast-veg-opt-possible {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-2 .overlap-group-11 {
  align-items: flex-start;
  background-image: url(../img/group-17482-12@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-2 .kumbhaka-cold-cut-platter {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}

.iphone-13-13-pro-2 .overlap-group-12 {
  align-items: flex-start;
  background-image: url(../img/group-17482-13@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 133px;
  padding: 29.3px 34.7px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-2 .kumbhaka-snack-platter {
  letter-spacing: 0;
  margin-left: 0.38px;
  margin-top: 2px;
  min-height: 15px;
  width: 221px;
}
